assets
scenes
README.md
scripts
project.godot
icon.svg.import
icon.svg
AntiColonisingGame2000.sln.DotSettings.user
AntiColonisingGame2000.sln
AntiColonisingGame2000.csproj
.editorconfig
.vs/
.idea/
.DS_store